mat-card{
    width:300px;
    margin: 10px;
    margin-left:0;
    background-color:white;
    margin-bottom: 0;
    padding-bottom: 0;
    border-radius: 0;
}

.votes{
    display: flex;
    justify-content: space-around;
}
mat-expansion-panel{
    background-color:none;
    width: 100%;
    margin-top: 8px;
    border-radius: 0;
    margin-left: 0;
}
mat-accordian:hover{
background:none;
}

a{
    color: black;
}


.card{
    width:300px;
    margin: 10px;
    margin-left:0;
    background-color: white;
    margin-bottom: 0;
    padding-bottom: 0;
    border-radius: 0;
}
mat-accordian{
    width:300px;
}