<mat-dialog-content class="mat-typography">
  <mat-tab-group mat-stretch-tabs dynamicHeight [selectedIndex]="selectedIndex">
    <mat-tab label="LogIn">
      <form class="email-login">
        <div class="u-form-group">
          <input type="email" placeholder="Email" />
        </div>
        <div class="u-form-group">
          <input type="password" placeholder="Password" />
        </div>
        <div class="u-form-group">
          <button>Log in</button>
        </div>
        <div class="u-form-group">
          <a href="#" class="forgot-password">Forgot password?</a>
        </div>
      </form>
      <div class="social-login">
        <a (click)="socialSignIn('facebook')">
          <i class="fa fa-facebook fa-lg"></i>
          Login with facebook
        </a>
        <a (click)="socialSignIn('google')">
          <i class="fa fa-google-plus fa-lg"></i>
          Login with Google
        </a>
      </div>
    </mat-tab>
    <mat-tab label="Sign Up">
      <form class="email-signup">
        <div class="u-form-group">
          <input type="email" placeholder="Email" />
        </div>
        <div class="u-form-group">
          <input type="password" placeholder="Password" />
        </div>
        <div class="u-form-group">
          <input type="password" placeholder="Confirm Password" />
        </div>
        <div class="u-form-group">
          <button>Sign Up</button>
        </div>
      </form>
      <div class="social-login">
        <a href="#" (click)="socialSignIn('facebook')">
          <i class="fa fa-facebook fa-lg"></i>
          SignUp with facebook
        </a>
        <a href="#" (click)="socialSignIn('google')">
          <i class="fa fa-google-plus fa-lg"></i>
          SignUp with Google
        </a>
      </div>
    </mat-tab>
  </mat-tab-group>
  <!-- </div> -->
</mat-dialog-content>