<div class="body"><br>
<h2 style="font-size: 30px;font-family: cursive;"><b>Hello {{name}}</b></h2><br>
<div class="card">
<button style="border: none;"><mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title style="font-size: 20px;font-family: cursive"><b>Total Tests Taken</b></mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header><br>
    <mat-card-content>
      <h2 style="font-size: 20px;">13</h2>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
</mat-card></button>
<button style="border: none;"><mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title style="font-size: 20px;font-family: cursive"><b>Total Contributions</b></mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header><br>
    <mat-card-content>
      <h2 style="font-size: 20px;">6</h2>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
</mat-card></button>
<button style="border: none;"><mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title style="font-size: 20px;font-family: cursive"><b>Total Subscriptions</b></mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header><br>
    <mat-card-content>
      <h2 style="font-size: 20px;">7</h2>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
</mat-card></button>
 </div> <br><br>
</div>
<div class="body1">
<br><br>
 <div class="hero-image">
  <div class="hero-text">
    <div class="example-button-row">
      <button  mat-raised-button class="button" routerLink="/learner">Test Your Knowledge</button>
      </div>
  </div>
</div><br><br>
<app-search></app-search><br><br>
</div>
