
<div class="example-button-row">
  <div class="buttons">
    <!-- <div class="column">
      <button mat-raised-button color="primary" style="font-size: 20px;" routerLink="/addlearningplan" routerLinkActive="active">Add LearningPlan</button>
    </div>
    <div class="column">
      <button mat-raised-button color="primary" style="font-size: 20px;" routerLink="/addresource" routerLinkActive="active">Add Resource</button>
    </div> -->
    <button mat-raised-button color="black" style="font-size: 20px;" routerLink="/addlearningplan" routerLinkActive="active">Add LearningPlan</button>
    <button mat-raised-button color="black" style="font-size: 20px;" routerLink="/addresource" routerLinkActive="active">Add Resource</button>
  </div>
</div><br><br><br>
<app-contribute></app-contribute>

