<div>
<div class="cards_3">
  <div *ngFor="let tech of technology">
    <div *ngIf="showTech">

      <mat-card class="techCard_">
        <mat-card-title class="card-title_">
          {{tech.Name}}
        </mat-card-title>
        <br/><br/>
        <div class="buttons_">
        <mat-card-actions>
            <button mat-button class="btn" (click)="setTech(tech)" routerLink="/test" routerLinkActive="active"><b>Take Test</b></button>
            <button mat-button class="btn" (click)="noToggle(tech)"><b>Learn</b></button>
        </mat-card-actions>
        </div>
        </mat-card>
      </div>
    </div>
  </div>
  <div *ngIf="showPopular">
      <h1> Popular Plans for {{selectedTech}} >></h1>
      <app-scrolling-container [choice]=3>
        </app-scrolling-container>
  </div>
</div>



