<div class="login-box">
  <div class="lb-header">
    <a routerLink="/sign-in"  id="login-box-link">Login</a>
    <a href="#" id="signup-box-link" class="active">Sign Up</a>
  </div>
  <div class="social-login">
    <a href="#" (click)="socialSignIn('facebook')">
      <i class="fa fa-facebook fa-lg"></i>
      Login with facebook
    </a>
    <a href="#" (click)="socialSignIn('google')">
      <i class="fa fa-google-plus fa-lg"></i>
      log in with Google
    </a>
  </div>
  <form class="email-signup">
    <div class="u-form-group">
      <input type="email" placeholder="Email"/>
    </div>
    <div class="u-form-group">
      <input type="password" placeholder="Password"/>
    </div>
    <div class="u-form-group">
      <input type="password" placeholder="Confirm Password"/>
    </div>
    <div class="u-form-group">
      <button>Sign Up</button>
    </div>
  </form>
</div>