body{
    margin: 0px;
    font-size: 10px;
}
.example-form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding-top: 20px;
}
.field{
    width: 100%;
    padding-top: 20px;
}
.fields{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%; 
    padding-top: 20px;  
}
.textarea{
    width: 100%; 
    padding-top: 20px;    
}
.accordian{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding-top: 10px;   
    padding-left: 20px;
    padding-right: 20px; 
}
mat-accordion{
    width: 100%;
    padding-top: 20px;
}
h3{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding-top: 10px;  
}
.buttons{
    display: inline-flex;
    flex-direction: row;
}
button{
    margin-right: 10px;
}
p{
    font-size: 13px;
}

