<div class="container">
  <div class=flex1 style="flex-grow: 2">
  <img class="header-image" src="../../assets/placeholder-team.jpg" />
  </div>
  <div class=flex2 style="flex-grow: 5">
  <mat-card class="profile">
    <mat-card-title >John Doe</mat-card-title>
    <mat-card-subtitle ><em>johndoe</em></mat-card-subtitle>
    <mat-card-footer class="less-margin">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos nihil dolorum rem optio facilis voluptatibus illo, laudantium repudiandae ipsum quaerat numquam velit excepturi doloribus.
    </mat-card-footer>
  </mat-card>
  </div>
  <!-- </mat-card> -->
  <div class=flex3 style="flex-grow: 2">
  <mat-card class="info-card">
    <mat-card-header>
      <mat-card-title>Proficient In</mat-card-title>
      <mat-card-subtitle ><em>HTML5</em></mat-card-subtitle>
      <mat-card-subtitle ><em>CSS3</em></mat-card-subtitle>
      <mat-card-subtitle ><em>.NetCore2.1</em></mat-card-subtitle>
      <mat-card-subtitle ><em>Angular6</em></mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  </div>
</div>